:root{
  --marrom-escuro: #3F2305;
  --marrom-claro: #A4907C;
  --bege-escuro: #DFD7BF;
  --bege-claro: #F2EAD3;
  --cinza: #333333;
}

*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Fonte Cabecalho;
  src: url(fonts/LeagueSpartan.ttf);
}
